#author img {
 
  float: left; 
  margin-left: 15%;
   margin-top: 20px; 
   border-radius: 50%; 
   max-width: 75px; 
   width: auto;
   height: auto;
}
* 

{
    box-sizing: border-box;
  }


  
.header{
  background-color: rgba(54, 163, 235, 0.075);
  color: rgba(0, 0, 0, 0.788);
  padding: 30px;
  text-align: center;
  font-size: 30px;
  min-height: 150px;
  height: 220px;
  margin-bottom: 5px;
  font-family: Source Sans Pro,sans-serif;
  
}

#author {

  border: 1px solid rgba(0, 0, 0, 0);
  width: 80%;
  max-width: 500px;
  min-width: 450px;
  height: 100px;
  margin: auto;
 

}

ul {
  width: 120px;
  /* border: solid rgb(0, 0, 0);  */
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  font-size: 19px;
  display: block;
  color: rgb(95, 93, 93);
  text-decoration: none;
  padding-bottom: 25px;
}
body {
    margin-top: 50px;
    background-color: rgba(167, 164, 164, 0.116);
    
}

 #intro {
  /* border: 5px solid rgb(0, 0, 0); */
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 75px;
  margin-top: 75px;
  height: auto;
  position: relative;
  font-family: Source Sans Pro,sans-serif;
  color: rgba(0, 0, 0, 0.788);
  font-size: 17px;


} 


#container1 {

  /* border: 3px solid rgb(0, 0, 0);  */
  font-family: Source Sans Pro,sans-serif;;
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  height: 500px;
  margin: auto;

}

#figure1 {
  border: 2px solid rgb(190, 193, 196);
  margin-top: 15px;
  width: 380px;
  height: 405px;
  margin-left: 20px;
  float: left;
}

#figure1 img {

  width: 375px;
  height: 400px;

}
#text1 {
  font-family: Source Sans Pro,sans-serif;
  font-size: 17px;
  margin-top: 15px;
  width: 35%;
  height: 50%;
  margin-left: 105px;
  /* background-color: rgb(177, 205, 236); */
  float: left;
  color: rgba(0, 0, 0, 0.788);
}

#container2 {

  margin-top: 30px;
 /* border: 3px solid rgb(0, 0, 0);  */
  width: 900px;
  max-width: 1000px;
  min-width: 800px;
  height: 500px;
  margin: auto;
  font-family: Source Sans Pro,sans-serif;
  font-size: 17px;

}

#figure2 {
  border: 2px solid rgb(190, 193, 196);
  margin-top: 15px;
  width: 790px;
  height: 340x;
  margin-left: 5%;
  float: left;
}


#container3 {
  margin-top: 30px;
  /* border: 3px solid rgb(0, 0, 0);   */
  width: 900px;
  max-width: 1000px;
  min-width: 800px;
  height: 620px;
  margin: auto;
  font-family: Source Sans Pro,sans-serif;
  font-size: 17px;

}

#figure3 {

  border: 2px solid rgb(190, 193, 196);
  width: 650px;
  height: 655px;
  margin: auto;
}

  


/* 
#text2 {

  margin-top: 15px;S
  width: 35%;
  height: 50%;
  margin-left: 55px;
  background-color: rgb(177, 205, 236);
  float: left;
} */

#container4 {

  font-family: Source Sans Pro,sans-serif;
  margin-top: 30px;
  /* border: 3px solid rgb(0, 0, 0);  */
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  height: 500px;
  margin: auto;

}

#container4 img {
 
  width: 375px;
  height: 400px;

}

#text4 {
   /* border: 3px solid rgb(0, 0, 0);  */
  font-family: Source Sans Pro,sans-serif;
  font-size: 17px;
  margin-top: 15px;
  width: 35%;
  height: 50%;
  margin-left: 50px;
  /* background-color: rgb(177, 205, 236); */
  float: left;
  color: rgba(0, 0, 0, 0.788);
}

#figure4 {
  border: 2px solid rgb(190, 193, 196);
  margin-top: 15px;
  width: 380px;
  height: 405px;
  margin-left: 10%;
  float: left;
}


#container5 {

   /* border: 3px solid rgb(0, 0, 0);   */
  font-family: Source Sans Pro,sans-serif;;
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  height: 800px;
  margin: auto;

}

#figure5 {
  border: 2px solid rgb(190, 193, 196);
  margin-top: 15px;
  width: 380px;
  height: 405px;
  margin-left: 20px;
  float: left;
}

#figure5 img {

  width: 375px;
  height: 400px;

}
#text5 {
  font-family: Source Sans Pro,sans-serif;
  font-size: 17px;
  margin-top: 15px;
  width: 35%;
  height: 50%;
  margin-left: 105px;
  /* background-color: rgb(177, 205, 236); */
  float: left;
  color: rgba(0, 0, 0, 0.788);
}


#wrapper {

  margin: auto;
  height: 3000px;
  width: 100%;
  /* border: 5px solid rgb(8, 214, 1); */

}

#sidebar {
  font-family: Source Sans Pro,sans-serif;
  float: left;
  margin-right: 99%;
  margin-left: 25px;
  width: 160px;
  height: 150px;
   /* border: 2px solid #e90f7c;  */

}

.box {
    /* border: solid rgb(0, 68, 255); */
    width: 70%;
    /* min-width: 800px; */
    background-color: rgba(255, 255, 255, 0.856);
    min-width: 960px;
    padding: 50px;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
  }

  
