* {
    box-sizing: border-box;
  }


.header{
  background-color: #f0f8ff;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100px;
  margin-bottom: 5px;
  
}

#author {

  border: 3px solid #f0f8ff;
  width: 80%;
  max-width: 500px;
  min-width: 450px;
  height: 120px;
  margin: auto;
 

}

#author img {

  float: left; 
  margin-left: 15%;
   margin-top: 20px; 
   border-radius: 50%; 
   width: 100px; 
   height: 100px
}

body {
    margin-top: 50px;
    background-color: rgb(247, 235, 235);
    
}

 #intro {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  height:300px;
  background-color:rgb(166, 217, 230);
  position: relative;
} 

#intro p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

#container1 {

  border: 3px solid rgb(0, 0, 0);
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  height: 500px;
  margin: auto;

}

#figure1 {
  margin-top: 15px;
  width: 375px;
  height: 400px;
  margin-left: 20px;


  float: left;
}

#figure1 img {

  width: 375px;
  height: 400px;

}
#text1 {

  margin-top: 15px;
  width: 35%;
  height: 50%;
  margin-left: 55px;
  background-color: rgb(165, 135, 194);
  float: left;
}

#container2 {

  margin-top: 30px;
  border: 3px solid rgb(0, 0, 0);
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  height: 500px;
  margin: auto;

}

.box {
    width: 70%;
    /* min-width: 800px; */
    background-color: aliceblue;
    min-width: 960px;
    padding: 50px;
    margin-left: 15%;
    margin-right: 15%;
    height: 3000px;
  }

  
